<div class="page-header">
  <h1>Song Wall   <small><a href="/songs/new_song">Add your song</a></small></h1>
  <a href="/logout">Logout</a>
</div>

<% @songs.each do |song| %>
  <div class="panel panel-primary">
    <h3><%= song.title %> <small>(by: <%= song.author %>)</small></h3>
    <p>
      <form method="post" action="/songs/<%= song.id %>/upvote">
      <button type="submit" class="btn btn-default">Upvotes:</button></form><%= Upvote.where(song_id: song.id).count %>
      <a href="<%= song.url %>"><%= song.url %></a>
    </p>
  </div>
<% end %>